* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    font-size: 18px;
    font-family: "MagdaCleanMonoWeb-BoldW03";
    
}
a {
    text-decoration: none;
    color: black;
    /* font-family: "MagdaCleanMonoWeb-BoldW03"; */
    font-family: "MagdaCleanMonoWebW03-Rg";
    
        
}
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 10px;    
    background: white;
    display: flex;
    justify-content: space-between;    
    box-sizing: border-box;
    z-index: 9000;  
}
header h1{
    padding: 35px 0 15px 0;
    font-size: 25px;    
}
header #gnb {
    width: 50%;
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;    
    align-items: center;    
}
#gnb a:hover {
    border-bottom: 1px solid black;    
}

header > #gnb::before {    
    content: "";
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0;    
    background: white;    
    display: block;
    height: 150px;
        
}
header > #gnb::before {
    display: none;
}
header > #gnb.on::before {
    display: block;
}

header > #gnb > li .snb {
    position: absolute;
    top: 85px;
    display: none; 
}

header > #gnb.on >li .snb {
    display: block;
}
header > #gnb > li > .snb > ul > li+li {
    margin-top: 10px;    
}
#util {
    padding: 20px 0;
}
p {
    text-align: justify;
}


/* 가로가 1440px 이하면 세로형으로 지정 */
@media screen and (max-width: 1440px){
    header #gnb {
        width: 100%;
        display: flex;
        margin-top: 30px;
        font-size: 15px;
        justify-content: space-evenly;    
        align-items: center;    
    }
    
    header a {
        font-size: 15px;
    }
    header h1{
        padding: 35px 0 15px 0;
        font-size: 25px;   
    }
    
}
@media screen and (max-width: 768px) {
    header #gnb {
        display: none;
    }
    header h1{
        padding: 35px 0 15px 0;
        font-size: 25px;    
    }
}
